@use "@/assets/scss/hero" as *;
@use "@/assets/scss/common" as *;
@use "@/assets/scss/header" as *;
@use "@/assets/scss/style" as *;
@use "@/assets/scss/focused" as *;
@use "@/assets/scss/showcase" as *;

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Takes full screen height */
  margin: 0;
}
